# แบบทดสอบการจัดการกับ List

In [76]:
#นายภูพิรัฐ แซ่โค้ว รหัสนักศึกษา 6812732119

In [102]:
lt = [1, 2, 3, 4, 5]

## 1. เพิ่มข้อมูลเข้าไปใน list ทีละตัว

100, 200, 300, 400

In [103]:
lt.append(100)

In [104]:
lt.append(200)

In [105]:
lt.append(300)

In [106]:
lt.append(400)

In [107]:
print(lt)

[1, 2, 3, 4, 5, 100, 200, 300, 400]

## 2. นำ List เพิ่มเข้าใน lt

In [108]:
sub = [6, 7, 8, 9, 10]

In [109]:
lt.append(sub)

In [110]:
lt

[1, 2, 3, 4, 5, 100, 200, 300, 400, [6, 7, 8, 9, 10]]

## 3. เข้าถึงเข้ามูลตัวสุดท้ายภายใน list

In [111]:
print(lt[-1])

[6, 7, 8, 9, 10]

## 4. นำข้อมูลตัวสุดท้ายออกจาก list

In [112]:
print(lt.pop())

[6, 7, 8, 9, 10]

In [113]:
lt

[1, 2, 3, 4, 5, 100, 200, 300, 400]

## 5. นำข้อมูลตัวที่ 5 ออกจาก list

In [114]:
del lt[4]

In [115]:
lt

[1, 2, 3, 4, 100, 200, 300, 400]

## 6. เพิ่มคำว่า "Python" เข้าไปใน list ตำแหน่งที่ 3

In [116]:
lt.insert(2, "Python")

In [117]:
lt

[1, 2, 'Python', 3, 4, 100, 200, 300, 400]

## 7. ลบข้อมูลในตำแหน่งที่ 6 ออกจาก list

In [118]:
del lt[5]

In [119]:
lt

[1, 2, 'Python', 3, 4, 200, 300, 400]

## 8. แสดงจำนวนสมาชิกภายใน list

In [120]:
len(lt)

8

## 9. reverse list

In [121]:
lt[::-1]

[400, 300, 200, 4, 3, 'Python', 2, 1]

In [122]:
lt.reverse()

In [123]:
lt

[400, 300, 200, 4, 3, 'Python', 2, 1]

## 10. เคลียร์ list ให้เป็น list ว่าง

In [124]:
lt.clear()

In [125]:
lt

[]